{% extends "base.html" %}

{% block content %}
  <h2 class="m-auto text-center max-w-4xl text-4xl p-10">Редактирование атрибута "{{ attribute.name }}"</h2>
  <div class="m-auto max-w-2xl p-10 rounded-xl bg-slate-200">
    <form method="post">
      {% csrf_token %}
      <div>
        Название атрибута:
        {{form.name}}
      </div>

      <div>
        Тип атрибута:
        {{form.attribute_type}}
      </div>
      <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
