<!-- group_list.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Список Ролей</h2>
    <a href="{% url 'role_create' %}">Создать Новую Роль</a>
    <ul>
        {% for group in groups %}
            <li>
                {{ group.name }}
                <a href="{% url 'role_edit' group.id %}">Редактировать</a> |
                <a href="{% url 'role_delete' group.id %}" onclick="return confirm('Вы уверены, что хотите удалить эту роль?');">Удалить</a>
            </li>
        {% empty %}
            <li>Роли не найдены.</li>
        {% endfor %}
    </ul>
{% endblock %}
