<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Раздел администрирования</title>
</head>
<body>
    <h1>Раздел администрирования</h1>
    <ul>
        <li><a href="{% url 'user_list' %}">Список пользователей</a></li>
        <li><a href="{% url 'company_list' %}">Список компанний</a></li>

    </ul>
    <h1>Настройки</h1>
<a href="{% url 'types_list' %}">Типы заявок</a>
  <a href="{% url 'priority_list' %}">Приоритеты заявок</a>
 <a href="{% url 'priority_duration_list' %}">Продолжительности заявок</a>
<a href="{% url 'status_list' %}">Список статусов</a>
<a href="{% url 'status_transition' %}">Переходы статусов</a>

</body>
</html>