{% extends 'base.html' %}

{% block content %}
    <div class="max-w-4xl m-auto">

        <h1 class=" text-center text-2xl p-10">Профиль пользователя {{ user.username }}</h1>
        <div class="bg-slate-200 p-10  max-w-4xl m-auto rounded-lg flex pt-5  flex-col gap-2">
            
            <p > Почта: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.email}} </span></p>
            <p >Имя: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.first_name}} </span></p>
            <p >Фамилия: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.last_name}} </span></p>
            <p >Номер телефона: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.phone_number}} </span></p>
            <p >Адрес: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.address}} </span></p>
            <p >Компания: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.company}} </span></p>
            <p >Роль: <span class="badge text-bg-primary text-left p-2 text-bg-secondary">{{user.group}} </span></p>
            <button onclick="window.location.href='{% url 'edit_profile' %}'" class="btn btn-primary mt-2" type="button">Редактировать профиль</button>
            <button onclick="window.location.href='{% url 'request_list' %}'" class="btn btn-success mt-2" type="button">Посмотреть список заявок</button>
            
        </div>
    

    {% comment %} 
    <ul class="text-center">
        <li><a href="{% url 'edit_profile' %}">Редактировать профиль</a></li> 
        <li><a href="{% url 'request_list' %}">Список заявок</a></li>
        <li><a href="{% url 'select_request_type' %}">Создать заявку</a></li>
        <!-- Дополнительные ссылки -->

    </ul>  
    {% endcomment %}
</div>
    <!-- Место для дополнительной информации о пользователе -->

{% endblock %}