<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя {{ user.username }}</title>
</head>
<body>
    <h1>Профиль пользователя {{ user.username }}</h1>

    <ul>
        <li><a href="{% url 'edit_profile' %}">Редактировать профиль</a></li>
        <li><a href="{% url 'create_company' %}">Создать компанию</a></li>
        <li><a href="{% url 'request_list' %}">Список заявок</a></li>
        <li><a href="{% url 'request_create' %}">Создать заявку</a></li>
        <!-- Добавьте ссылки на другие шаблоны, если они есть -->
        {% if user.groups.all.0.name == "Администраторы" %}
    <a href="{% url 'user_list' %}">Список пользователей</a>
{% endif %}
    </ul>

    <!-- Здесь можно добавить информацию о пользователе, например, его имя, адрес, и так далее -->

</body>
</html>
