{% extends "base.html" %}

{% block content %}
<h2 class="m-auto max-w-2xl text-center text-4xl p-10">Создать новый тип актива</h2>
<div class="m-auto max-w-2xl bg-slate-200 p-10 rounded-lg">
    <form method="post">
        {% csrf_token %}

        <div>
            Название актива:
            {{form.name}}
        </div>

        <div>
            Родительский актив:
            {{form.parent}}
        </div>

        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>
{% endblock %}
