{% extends "base.html" %}

{% block content %}
<h2 class="text-center max-w-2xl text-4xl p-10 m-auto">Список типов активов</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Имя</th>
            <th class="text-center">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for asset_type in asset_types %}
        <tr class="align-middle">
            <td class="text-center">{{ asset_type.name }}</td>
            <td class="flex justify-evenly">
                <a onclick="window.location.href='{% url 'asset_type_edit' pk=asset_type.pk %}'" type="button" class="btn btn-primary">Редактировать</a>
                <form action="{% url 'asset_type_delete' pk=asset_type.pk %}" class='mb-0' method="post" onsubmit="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
                <!-- Ссылка для создания атрибута для каждого типа актива -->
                <button onclick="window.location.href='{% url 'attribute_create' asset_type_id=asset_type.id %}'" type="button" class="btn btn-secondary">Создать атрибут</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="window.location.href='{% url 'asset_type_create' %}'" type="button" class="btn btn-success">Добавить новый тип</button>
{% endblock %}
