{% extends "base.html" %}

{% block content %}
<h2>Создание нового актива</h2>
<form method="post" enctype="multipart/form-data" id="assetForm">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="dynamicAttributesContainer"></div> <!-- Контейнер для динамических полей -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> Пожалуйста, исправьте ошибки ниже.
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Создать актив</button>
</form>
<a href="{% url 'assets_list' %}" class="btn btn-secondary">Вернуться к списку активов</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_asset_type').change(function() {
            var assetTypeId = $(this).val(); // Получаем ID выбранного типа актива
            if (assetTypeId) {
                var url = `{% url 'get_attributes_by_asset_type' 9999 %}`.replace('9999', assetTypeId);
                $.ajax({
                    url: url,
                    success: function(data) {
                        $('#dynamicAttributesContainer').empty(); // Очищаем контейнер
                        data.forEach(function(attr) {
                            var fieldHtml = '<div class="form-group"><label>' + attr.attribute__name + ':</label>';
                            switch(attr.attribute__attribute_type) {
                                case 'text':
                                    fieldHtml += '<input type="text" name="attributes[' + attr.id + ']" class="form-control"/>';
                                    break;
                                case 'number':
                                    fieldHtml += '<input type="number" name="attributes[' + attr.id + ']" class="form-control"/>';
                                    break;
                                case 'date':
                                    fieldHtml += '<input type="date" name="attributes[' + attr.id + ']" class="form-control"/>';
                                    break;
                                // Добавьте другие типы данных по необходимости
                            }
                            fieldHtml += '</div>';
                            $('#dynamicAttributesContainer').append(fieldHtml);
                        });
                    },
                    error: function() {
                        alert('Не удалось загрузить атрибуты для выбранного типа актива.');
                    }
                });
            } else {
                $('#dynamicAttributesContainer').empty();
            }
        });
    });
</script>
{% endblock %}
