{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="my-4 text-center">{{ title }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
    <a href="{% url 'reference_list' %}" class="btn btn-secondary">Отмена</a>
  </form>

  <!-- Список элементов справочника -->
  <div class="mt-4">
    <h3>Элементы справочника</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Значение</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.value }}</td>

            <td>
              <a href="{% url 'reference_item_edit' item.id %}" class="btn btn-primary btn-sm">Редактировать</a>
              <a href="{% url 'reference_item_delete' item.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Вы уверены, что хотите удалить этот элемент?');">Удалить</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" class="text-center">Элементы отсутствуют.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
