{% extends 'base.html' %}

{% block title %}Document Analysis{% endblock %}

{% block content %}
<h1 class="text-center max-w-4xl p-10 text-4xl m-auto">Анализ документа</h1>

<h2 class="text-center max-w-4xl p-10 text-2xl m-auto">Текстовое содержание документа</h2>
{% if text_content %}
<div class=" max-w-7xl p-10 text-2xl m-auto">
    {% for paragraph in text_content %}
    <p>{{ paragraph }}</p>
    {% endfor %}
</div>
{% else %}
<p>No text content available.</p>
{% endif %}

<h2 class="text-center max-w-4xl p-10 text-2xl m-auto">Tables</h2>
{% if tables.length > 0 %}
<div>
    {% for table in tables %}
    <table border="1">
        {% for row in table %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</div>
{% else %}
<p class="text-center max-w-4xl p-10 text-2xl m-auto">No tables found in the document.</p>
{% endif %}

<h2 class="text-center max-w-4xl p-10 text-2xl m-auto">Images</h2>
{% if images.length > 0 %}
<div class="text-center max-w-4xl p-10 text-2xl m-auto">
    {% for image in images %}
    <img src="{{ image }}" alt="Document Image">
    {% endfor %}
</div>
{% else %}
<p class="text-center max-w-4xl p-10 text-2xl m-auto">No images found in the document.</p>
{% endif %}

{% endblock %}
