{% extends 'base.html' %}

{% block content %}
<h2>Настройки уведомлений для роли: {{ group.name }}</h2>
<form method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Событие</th>
                <th>Шаблон Email</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ forms[event.id].email_template }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}
