{% extends 'base.html' %}

{% block content %}
<h2>Список шаблонов уведомлений</h2>
<a href="{% url 'template_create' %}">Создать новый шаблон</a>
<ul>
    {% for template in templates %}
    <li>
        {{ template.name }} -
        <a href="{% url 'template_edit' template.id %}">Редактировать</a>
        <!-- Форма удаления -->
        <form action="{% url 'template_delete' template.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот шаблон?');">Удалить</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
