{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
.variable-panel {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.variable-list {
    height: 200px;
    overflow-y: scroll;
}

.variable-category h4 {
    margin-top: 0;
}

.variable-category ul {
    list-style: none;
    padding: 0;
}

.variable-category li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.variable-category li:hover {
    background-color: #f0f0f0;
}
</style>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}

     <div id="variable-panel" class="variable-panel">
        <h3>Переменные</h3>
        <input type="text" id="search-variable" placeholder="Поиск..." onkeyup="filterVariables()">
        <div class="variable-list">
          {% for category, variables in AVAILABLE_VARIABLES.items %}
<div class="variable-category">
    <h4>{{ category }}</h4>
    <ul>
        {% for var_key, var_desc in variables.items %}
        <li onclick="insertVariable('{{ var_key }}')">{{ var_key }} - {{ var_desc }}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
        </div>
    </div>

    <button type="submit">Сохранить</button>
</form>

<script src="{% static 'js/variable_panel.js' %}"></script>
<script>
    function insertVariable(variable) {
    var editor = CKEDITOR.instances['id_body']; // Замените 'id_body' на ID вашего CKEditor
    if (editor) {
        // Вставляем переменную в формате, который сохраняет её визуальное представление
        var templateVariable = '{{ ' + variable + ' }}'; // Django шаблонная переменная
        var displayVariable = '<span class="template-variable">' + variable + '</span>'; // Визуальный элемент
        editor.insertHtml(displayVariable); // Вставляем в редактор
    } else {
        console.error('CKEditor instance not found');
    }
}


    function filterVariables() {
        var input = document.getElementById("search-variable");
        var filter = input.value.toUpperCase();
        var panel = document.getElementById("variable-panel");
        var li = panel.getElementsByTagName("li");

        for (var i = 0; i < li.length; i++) {
            var txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
