{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="my-4 text-center">{{ title }}</h2>

  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Название кастомного поля -->
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
      <div class="text-danger">{{ form.name.errors }}</div>
    </div>

    <!-- Тип кастомного поля -->
    <div class="form-group">
      {{ form.field_type.label_tag }}
      {{ form.field_type }}
      <div class="text-danger">{{ form.field_type.errors }}</div>
    </div>

    <!-- Обязательность кастомного поля -->
    <div class="form-group form-check">
      {{ form.is_required }}
      {{ form.is_required.label_tag }}
      <div class="text-danger">{{ form.is_required.errors }}</div>
    </div>

    <!-- Кнопки действия -->
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a href="{% url 'manage_fields_visibility' company.id %}" class="btn btn-secondary">Отмена</a>
  </form>
</div>
{% endblock %}
