{% extends "base.html" %}

<style>
  .container-fluid {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .form-group:last-child {
    margin-right: 0;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    height: 100px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
</style>

{% block content %}
<div class="container-fluid">
  <h2 class="my-4 text-center text-4xl">{{ title }}</h2>

  <ul class="nav nav-tabs mb-4" id="companyTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="edit-company-tab" data-bs-toggle="tab" href="#edit-company" role="tab" aria-controls="edit-company" aria-selected="true">Общие</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Пользователи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="requests-tab" data-bs-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="false">Заявки</a>
    </li>
  </ul>

  <div class="tab-content" id="companyTabsContent">
    <!-- Общие -->
    <div class="tab-pane fade show active" id="edit-company" role="tabpanel" aria-labelledby="edit-company-tab">
      <form method="post" enctype="multipart/form-data" id="companyForm">
        {% csrf_token %}
        <!-- Основные поля компании -->
        {% for field in form %}
          <div class="row">
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              <div class="text-danger">{{ field.errors }}</div>
            </div>
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
      </form>
      <div class="mt-4">
        <!-- Добавляем ссылку на управление видимостью полей -->
        <a href="{% url 'manage_fields_visibility' company.id %}" class="btn btn-secondary">Управление видимостью полей</a>
      </div>
    </div>

    <!-- Пользователи -->
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
      <h3>Пользователи компании</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Логин</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Отдел</th>
          </tr>
        </thead>
        <tbody>
          {% for user in employees %}
            <tr>
              <td><a href="{% url 'edit_profile' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a></td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone_number|default:"Нет данных" }}</td>
              <td>{{ user.department.name|default:"Нет отдела" }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">Нет сотрудников для отображения.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Заявки -->
    <div class="tab-pane fade" id="requests" role="tabpanel" aria-labelledby="requests-tab">
      <h3>Заявки компании</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Тип</th>
              <th>Приоритет</th>
              <th>Исполнитель</th>
              <th>Заявитель</th>
              <th>Статус</th>
              <th>Срок выполнения</th>
              <th>Последнее обновление</th>
            </tr>
          </thead>
          <tbody>
            {% for request in requests %}
              <tr>
                <td><a href="{% url 'request_edit' request.pk %}">{{ request.get_field_values.Title }}</a></td>
                <td>{{ request.get_field_values.Request_Type }}</td>
                <td>{{ request.get_field_values.Priority }}</td>
                <td>{{ request.get_field_values.Assignee }}</td>
                <td>{{ request.get_field_values.Requester }}</td>
                <td>{{ request.get_field_values.Status }}</td>
                <td>{{ request.get_field_values.Due_Date|date:"d.m.Y H:i"|default:"Не указано" }}</td>
                <td>{{ request.updated_at|date:"d.m.Y H:i" }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="8">Нет заявок для отображения.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var triggerTabList = [].slice.call(document.querySelectorAll('#companyTabs a'))
    triggerTabList.forEach(function(triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)
      triggerEl.addEventListener('click', function(event) {
        event.preventDefault()
        tabTrigger.show()
      })
    });
  });
</script>
{% endblock %}
