{% extends "base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  {{ form.media }}
  {{ comment_form.media }}

<div class="container mt-4">
    <h1 class="mb-4">Обновление заявки</h1>

    <form method="post" {% if not is_editable %}class="read-only"{% endif %}>
    <form method="post" {% if not is_editable %}class="read-only"{% endif %}>
        {% csrf_token %}

        {% for field in form %}
        {% if field.name != "duration_in_hours" and field.name != "due_date" %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {% if is_editable %}
                    {{ field }}
                {% else %}
                    <p>{{ field.value }}</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}


    <div class="form-group">
        <label>Срок выполнения:</label>
        {% if due_date %}
            <span>{{ due_date|date:"d M Y H:i" }}</span>
        {% else %}
            <span>Не установлен</span>
        {% endif %}
    </div>

    {% if is_editable %}
        <button type="submit" name="submit_update" class="btn btn-primary">Сохранить изменения</button>
    {% endif %}
</form>
</div>
    <h2 class="mb-3">Комментарии</h2>
    <div class="comments">
        {% for comment in comments %}
            <div class="comment mb-3">
                <strong>{{ comment.author.username }}</strong>
                <em>{{ comment.created_at|date:"N d, Y H:i" }}</em>
                <p>{{ comment.text|safe }}</p>
            </div>
        {% empty %}
            <p>Комментариев пока нет.</p>
        {% endfor %}
    </div>

    <!-- Форма добавления комментария -->
    <div class="form-custom mt-4">
        <h3 class="mb-3">Добавить комментарий</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-success">Добавить комментарий</button>
        </form>
    </div>


<a href="{% url 'request_list' %}" class="btn btn-secondary">Вернуться к списку заявок</a>
</div>
{% endblock %}