{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Создать новую заявку</h2>
  <div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            <label for="{{ form.request_type.id_for_label }}" class="form-label">Тип заявки:</label>
            {{ form.request_type }}
        </div>

        {% if 'title' in form.fields %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="form-label">Название:</label>
            {{ form.title }}
        </div>
        {% endif %}

        {% if 'description' in form.fields %}
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}" class="form-label">Описание:</label>
            {{ form.description }}
        </div>
        {% endif %}

        {% if 'attachment' in form.fields %}
        <div class="form-group">
            <label for="{{ form.attachment.id_for_label }}" class="form-label">Вложение:</label>
            {{ form.attachment }}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {% for field in form %}
                    {% if not field.is_hidden and field.name not in excluded_fields and forloop.counter0|divisibleby:2 %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for field in form %}
                    {% if not field.is_hidden and field.name not in excluded_fields and not forloop.counter0|divisibleby:2 %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
