{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4 text-4xl">Создать новую заявку</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group text-center">
          <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить</button>
          <button type="submit" name="action" value="save_and_close" class="btn btn-secondary">Сохранить и закрыть</button>
      </div>
  </form>
  <div class="form-group text-center mt-4">
      <a href="{% url 'request_list' %}" class="btn btn-secondary">Вернуться к списку заявок</a>
  </div>
</div>
{% endblock %}
