{% extends "base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2/dist/js/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<div id="columnModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeColumnModal">&times;</span>
    <h2>Выберите столбцы для отображения</h2>
    <form id="columnForm">
      {% for field in fieldset.fields.all %}
        <label><input type="checkbox" class="column-toggle" data-column="{{ field.name|lower }}" checked> {{ field.name }}</label><br>
      {% endfor %}
      <button type="button" id="saveColumns" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
</div>

<div id="modalBackdrop" class="modal-backdrop relative">
  <div id="filters" class="modal">
    <form method="get" id="filterForm" class="max-w-4xl m-auto">
      <div class='mb-2 flex flex-col gap-4'>
        {{ filter_form.as_p }}
      </div>
      <button class="btn btn-secondary" type="submit">Применить фильтр</button>
      <button class="close btn btn-danger absolute top-2 right-1 rounded-full" id="closeFilters" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </form>

    <form method="post" id="saveFilterForm" class="max-w-4xl m-auto">
        {% csrf_token %}
        {{ save_filter_form.as_p }}
        <button class="btn btn-success" type="submit" name="save_filter">Сохранить фильтр</button>
    </form>

    <div id="savedFilters" class="m-auto max-w-4xl">
      <h3 class="text-2xl p-10 text-center">Сохраненные фильтры:</h3>
      <ul>
        {% for saved_filter in saved_filters %}
          <li>
            <a href="?load_filter={{ saved_filter.id }}">{{ saved_filter.filter_name }}</a>
            <a href="?delete_filter={{ saved_filter.id }}" class="deleteFilter">Удалить</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="requests-list">
    <h3 class="text-center text-4xl p-10 max-w-4xl m-auto">Список заявок</h3>

    <!-- Кнопка для открытия модального окна выбора столбцов -->
    <button class="btn btn-primary" id="openColumnModal">Выбрать столбцы</button>

    {% if not requests_with_field_values %}
      <p class="text-center text-xl p-4 max-w-4xl m-auto">Нет доступных заявок</p>
    {% else %}
      <form id="delete-form" method="post" action="{% url 'request_delete' %}">
        {% csrf_token %}
        <table id="requestsTable" class="table">
          <thead>
            <tr>
              <th class="text-center"><input type="checkbox" id="select-all"></th>
              {% for field in fieldset.fields.all %}
                <th class="text-center column-{{ field.name|lower }}">{{ field.name }}</th>
              {% endfor %}
              <th class="text-center">Действия</th>
            </tr>
          </thead>
          <tbody>
            {% for item in requests_with_field_values %}
            <tr class="align-middle">
                <td class="text-center"><input type="checkbox" name="selected_requests" value="{{ item.request.pk }}"></td>
                {% for field in fieldset.fields.all %}
                  <td class="text-center column-{{ field.name|lower }}">{{ item.field_values.field_meta.name }}</td>
                {% endfor %}
                <td class="flex gap-2 justify-evenly">
                    <button onclick="window.location.href='{% url 'request_edit' item.request.pk %}'" type="button" class="btn btn-primary">Редактировать</button>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <button type="submit" class="btn btn-danger mb-3">Удалить выбранные заявки</button>
      </form>
    {% endif %}
    <button onclick="window.location.href='{% url 'select_request_type' %}'" class="btn btn-success" type="button">Создать новую заявку</button>
    <button class="btn btn-primary" id="openFilters">Открыть фильтры</button>
    <button class="btn btn-secondary" id="exportPdf">Экспорт в PDF</button>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const openColumnModalButton = document.getElementById('openColumnModal');
    const closeColumnModalButton = document.getElementById('closeColumnModal');
    const columnModal = document.getElementById('columnModal');
    const saveColumnsButton = document.getElementById('saveColumns');
    const columnToggles = document.querySelectorAll('.column-toggle');

    // Открытие модального окна выбора столбцов
    openColumnModalButton.addEventListener('click', function() {
        columnModal.style.display = 'block';
    });

    // Закрытие модального окна выбора столбцов
    closeColumnModalButton.addEventListener('click', function() {
        columnModal.style.display = 'none';
    });

    // Сохранение выбранных столбцов в локальное хранилище
    saveColumnsButton.addEventListener('click', function() {
        const selectedColumns = {};
        columnToggles.forEach(toggle => {
            selectedColumns[toggle.dataset.column] = toggle.checked;
        });
        localStorage.setItem('selectedColumns', JSON.stringify(selectedColumns));
        columnModal.style.display = 'none';
        applyColumnVisibility(selectedColumns);
    });

    // Применение видимости столбцов на основе сохраненных настроек
    function applyColumnVisibility(selectedColumns) {
        for (const [column, visible] of Object.entries(selectedColumns)) {
            const elements = document.querySelectorAll(`.column-${column}`);
            elements.forEach(element => {
                element.style.display = visible ? '' : 'none';
            });
        }
    }

    // Загрузка сохраненных настроек столбцов при загрузке страницы
    const savedColumns = JSON.parse(localStorage.getItem('selectedColumns')) || {};
    applyColumnVisibility(savedColumns);

    // Инициализация DataTables
    $('#requestsTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Russian.json" // Подключение русского языка
        }
    });

    // Прочие функции
    document.getElementById('exportPdf').addEventListener('click', function() {
        window.location.href = '{% url "export_pdf" %}';
    });

    document.querySelectorAll('.delete-btn').forEach(function(button) {
        button.addEventListener('click', function(event) {
            if (!confirm('Вы уверены, что хотите удалить эту заявку?')) {
                event.preventDefault();
            }
        });
    });

    // Select all checkboxes
    document.getElementById('select-all').addEventListener('click', function(event) {
        var isChecked = event.target.checked;
        document.querySelectorAll('input[name="selected_requests"]').forEach(function(checkbox) {
            checkbox.checked = isChecked;
        });
    });
});
</script>
<style>
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 11;
  display: none;
  max-width: 90%; /* Максимальная ширина */
  max-height: 90%; /* Максимальная высота */
  overflow-y: auto; /* Добавление прокрутки при необходимости */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
  .modal {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
  }
}
</style>
{% endblock %}
