{% extends 'settings/settings_sidebar.html' %}

{% block settings_content %}
    <h1 class="m-auto max-w-4xl text-center p-10 text-4xl">{% if priority %}Редактировать{% else %}Создать{% endif %} приоритет</h1>
    
    <div class="max-w-2xl m-auto bg-slate-200 rounded-xl p-10 flex flex-col ">
        
        <form method="post" class='flex flex-col gap-4'>
            {% csrf_token %}
            <div class="flex flex-col gap-2">
                Название приоритета:
                {{form.name}}
            </div>
            <button type="submit" class="btn btn-primary">{% if priority %}Сохранить изменения{% else %}Создать приоритет{% endif %}</button>
        </form>

        <button onclick="window.location.href='{% url 'priority_list' %}'" type="button" class="btn btn-secondary">Вернуться к списку приоритетов</button>
    </div>
{% endblock %}
