{% extends 'base.html' %}

{% block content %}
    <h1>Список продолжительностей приоритетов</h1>
    <a href="{% url 'create_priority_duration' %}" class="btn btn-primary">Создать новую продолжительность приоритета</a>
    <ul>
        {% for duration in durations %}
            <li>
                {{ duration.priority.name }} для {{ duration.request_type.name }}: {{ duration.duration_in_hours }} часов
                <a href="{% url 'edit_priority_duration' duration.pk %}" class="btn btn-secondary">Редактировать</a>
            </li>
        {% empty %}
            <li>Продолжительности приоритетов не найдены.</li>
        {% endfor %}
    </ul>
{% endblock %}
