<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if priority %}Редактировать{% else %}Создать{% endif %} приоритет</title>
</head>
<body>
    <h1>{% if priority %}Редактировать{% else %}Создать{% endif %} приоритет</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if priority %}Сохранить изменения{% else %}Создать приоритет{% endif %}</button>
    </form>

    <a href="{% url 'priority_list' %}">Вернуться к списку приоритетов</a>
</body>
</html>