{{% extends 'settings/settings_sidebar.html' %}

{% block settings_content %}
    <h1>{% if priority %}Редактировать{% else %}Создать{% endif %} приоритет</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if priority %}Сохранить изменения{% else %}Создать приоритет{% endif %}</button>
    </form>

    <a href="{% url 'priority_list' %}" class="btn btn-secondary">Вернуться к списку приоритетов</a>
{% endblock %}
