{% extends 'base.html' %}

{% block content %}
    <h1>{% if request_type %}Редактировать{% else %}Создать{% endif %} тип заявки</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" class="request-type-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if request_type %}Сохранить изменения{% else %}Создать тип{% endif %}</button>
    </form>

    <a href="{% url 'types_list' %}" class="btn btn-secondary">Вернуться к списку типов заявок</a>
{% endblock %}
