{% extends 'settings/settings_sidebar.html' %}

{% block settings_content %}
    <div class="settings-content">
        <h1>Управление типами заявок</h1>

        <!-- Link to create a new RequestType -->
        <p><a href="{% url 'create_request_type' %}" class="btn btn-primary">Создать новый тип заявок</a></p>

        <!-- List of RequestType objects -->
        <ul class="list-group">
            {% for request_type in request_types %}
                <li class="list-group-item">
                    <a href="{% url 'edit_request_type' request_type.id %}">{{ request_type.name }}</a>
                </li>
            {% empty %}
                <li class="list-group-item">Нет доступных типов заявок.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
